.notification-toggle-button {
    width: 20px;
    height: 20px;
    padding: 5px;
    border: 0;
    background: none;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    box-sizing: content-box;
}
